<!DOCTYPE html>
<html>
<head>
    <title>Show Inventory</title>
    <style>
        
    </style>
</head>
<body>
    <h1>Inventory Data</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Owner</th>
            <th>Vendor</th>
            <th>Cost</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
        
        {% for item in inventory_data %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>
            <td>{{ item[5] }}</td>
            <td>{{ item[6] }}</td>
            <td>
                <form method="post" action="/update">
                    <input type="hidden" name="item_id" value="{{ item[0] }}">
                    <input type="number" name="new_quantity" value="{{ item[2] }}" required>
                    <button type="submit">Update</button>
                </form>
                <form method="post" action="/delete">
                    <input type="hidden" name="item_id" value="{{ item[0] }}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/dashboard">Back to Dashboard</a>
</body>
</html>
